body {
  margin: 0;
  padding: 0;
  background-color: #141b2d;
  color: rgb(232, 231, 231);
}
*{
  padding: 0;
  margin: 0;
  
}
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
.rubik {
  font-family: "Source Sans Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
